@use "abstracts/mixins" as m;
@use"abstracts/vars" as v;
@forward "abstracts/resets";
@forward "modules/slider";
@forward "modules/testimonial";
@forward "modules/products";
@forward "modules/nav";
@forward "modules/gallery";
@forward "modules/footer";


//Animaciones
@keyframes fade-in{
	0%{
		transform:translateY(250px);
		opacity: 0;
	}
	10%{
		transform: translateY(0);
		opacity:1;
	}
    80%{
        transform: translateY(0);
        opacity:1;
    }
    100%{
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes scaleHeader{
    from{
        transform: matrix(1.5, 0, 0, 1.5, 0, 0);
        opacity: 0;
    }
    to{
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity:1;
    }
}