@use "abstracts/mixins" as m;
@use"abstracts/vars" as v;
@forward "abstracts/resets";

header{
    margin-bottom: 15rem;
}
.nav-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    max-width: 100%;
    z-index: 4;
    background-color:transparent;
    color: v.$main-color;
    box-shadow: 0 2px 4px -1px rgba(100, 100, 100, 0.25); 
    transition: color 0.6s ease-in-out, background-color 0.6s ease-in-out;
    &:hover{
        color:v.$letter-color;
        background-color:v.$main-color;
        @media screen and (max-width: 1237px){
            background-color:transparent;
        }
    }
    &:hover> .nav-bar > .nav-bar__logo a img:nth-child(1){
        opacity:1 !important;
        
    }
    &:hover> .nav-bar > .nav-bar__logo a img:nth-child(2){
        opacity: 0;
        
    }
    &.activar{
        background-color:v.$main-color;
        color:v.$letter-color;
    }
    .nav-bar{
        height:74px;
        padding: 18px 0;
        @include m.flexible(row,nowrap,space-between,center);
        @media screen and (max-width: 1237px){
            @include m.flexible(row,nowrap,center,center);
        }
        &__logo{
            width: 273px;
            cursor: pointer;
            position:relative;
            a{
                width: 100%;
                height: 100%;
                position: relative;
                
                img:nth-child(1){
                    position: absolute;
                    opacity: 0;
                    transition : opacity .6s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
        }
        &__list{
            @include m.flexible(row,nowrap,center,center);
            @media screen and (max-width: 1237px){
                position:fixed;
                @include m.flexible(column,nowrap,space-evenly,center);
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: black;
                opacity: 0;
                color:transparent;
                visibility: hidden;
                clip-path: circle(0% at 50% 50%);
                transition: color 1.5s ease-in-out, visibility .6s cubic-bezier(0.075, 0.82, 0.165, 1), clip-path .6s cubic-bezier(0.075, 0.82, 0.165, 1),opacity .6s cubic-bezier(0.075, 0.82, 0.165, 1);
                &.activo{
                    visibility: visible;
                    opacity: 1;
                    color:v.$main-color;
                    clip-path: circle(100% at 50% 50%);
                }
            }
            //MediaQuerie para poner lista fixed
            &__items{
                margin: 0 2rem;
                @include m.headerLetter(12px);
                &::after{
                    content:"";
                    width:0;
                    height:2px;
                    background:#1c1b1b;
                    display: block;
                    margin: auto;
                    @include m.transitionSimple(width,0.5s,ease-in-out);
                }
                &:hover::after{
                    width:100%;
                }
            }
        }
        &__hambuger{
            visibility: hidden;
            position:fixed;
            bottom: 3.125rem;
            right: 2.1875rem;
            height:50px;
            width:50px;
            background-color:v.$grey-color;
            @include m.flexible(row,nowrap,center,center);
            border-radius: 50%;
            cursor: pointer;
            z-index: 999;
            @media screen and (max-width: 1237px){
                visibility: visible;
            
            }
            //Media querie para spawnear el hambuger en la misma width que el fixed list
            &__line{
                position: absolute;
                height:2px;
                width:80%;
                background-color:black;
                transition: transform .4s, opacity .4s;
                &::after{
                    content:" ";
                    position:absolute;
                    height:2px;
                    width:100%;
                    top:8px;
                    background-color:black;
                }
                &::before{ 
                    content:" ";
                    position:absolute;
                    height:2px;
                    width:100%;
                    top:-8px;
                    background-color:black;
                }
                &.open{
                    transform: rotate(720deg);
                    background: transparent;
                    &::before{
                        position: absolute;
                        transform: rotate(45deg) translate(6px,5px);
                    }
                    &::after{
                        transform:rotate(-45deg) translate(5px, -9px);
                        position: absolute;
                        left: 3px;
                        top: 10px;
                    }
                }
            }
        }
    }
}
.slide-show{
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    padding: v.$p-section;
    &__slider{ 
        width:400%;
        display: flex;
        cursor: grabbing;
        transition: all .6s;
        &__slide{
            width: 100%;
            max-height: 1200px;
            //media query hacer mas alto el slideshow
            position: relative;
           
            &__img{
                position: relative;
                 //Media query mas alto el slideshow
                
                &::before{
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: .2;
                    background-color:black;
                }
            }
            &__info{
                position:absolute;
                top: auto;
                bottom: 70px;
                left:0;
                padding: 0 8rem;
                text-align: left;
                line-height:1.65;
                max-width:625px;
                h3{
                    @include m.headerText(2rem);
                    margin-bottom:41px;
                }
                
            }
        }
    }
    &__buttons{
        position: absolute;
        @include m.flexible(row,nowrap,center,center);
        bottom: 28px;
        right: 24px;
        left: auto;

        &__item{
            display: inline-block;
            height:1rem;
            width: 1rem;
            background-color: transparent;
            border-radius: 50%;
            margin: 0 2rem;
            border:2px solid #0075bb;
            &.active{
                background-color: black;
            }
         
        }

    }
}
main h1{
    @include m.headerText(12px);
    font-weight: 500;
    text-align:center;
    margin-bottom: 5rem;
    line-height:1.65;
}
.show-products{
    @include v.gresponsive(10rem,6rem,center,center);
    grid-auto-flow: row dense;
    overflow: hidden;
    padding: v.$p-section;
    &__product{
        width: 100%;
        &__img{
            height:200px;
            width: 100%;
            position: relative;
            @media screen and (min-width:636px ) and (max-width:747px){
                height:300px;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info{
            @include m.flexible(column,nowrap,center,center);
            gap: 1rem 0;
            h3{
                @include m.headerText(1rem);
                font-weight: 500;
            }
            p{
                @include m.headerText(1rem);
                font-weight: 500;
                letter-spacing:.2em;
            }
            button{
                text-align:center;
                background-color:v.$letter-color;
                @include m.headerText(0.8rem);
                color:v.$main-color;
                padding:1rem;
                cursor: pointer;
            }
        }
    }
}

.testimonial{
    width: 100%;
    background-color:#efefef;
    height: 300px;
    overflow: hidden;
    text-align:center;
    margin: 10rem 0;
    @include m.headerText(1rem);
    &-container{
        height:500%;
        @include m.flexible(column,nowrap,center,center);
        &__users{
            @include m.flexible(column,nowrap,center,center);
            gap: 2rem 0;
            height:100%;
        }
    }
}
.gallery{
    @include v.gresponsive(5rem,5rem,center,center);
    grid-auto-rows: minmax(200px,auto);
    align-items: stretch;
    &-img{ 
        @include m.flexible(row,nowrap,stre,center);
        &:nth-child(2){
            grid-row: span 2;
        }
        @media screen and (min-width:636px ) and (max-width:747px){
            height:300px;
        }
        img{
            width: 100%;
            height: 100%;
        }     
    }
    
}




@keyframes fade-in{
	0%{
		transform:translateY(250px);
		opacity: 0;
	}
	10%{
		transform: translateY(0);
		opacity:1;
	}
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-250px);
    }
}