@use "abstracts/mixins" as m;
@use"abstracts/vars" as v;
@forward "abstracts/resets";

.nav-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 4;
    transition: 0.6s ease-in-out;
    background-color:transparent;
    .nav-bar{
        height:74px;
        @include m.flexible(row,nowrap,space-between,center);
        &__logo{
            @include m.flexible(row, nowrap, center, center,);
            width: 273px;
            height: 39px;
            cursor: pointer;
            position: relative;
        }
        &__list{
            @include m.flexible(row,nowrap,center,center);
            //MediaQuerie para poner lista fixed
            &__items{
                margin: 0 2rem;
                color:v.$letter-color;
                @include m.headerLetter();
                &::after{
                    content:"";
                    width:0;
                    height:2px;
                    background:#1c1b1b;
                    display: block;
                    margin: auto;
                    @include m.transitionSimple(width,0.5s,ease-in-out);
                }
                &:hover::after{
                    width:100%;
                }
            }
        }
        &__hambuger{
            display:none;
            position:fixed;
            bottom: 3.125rem;
            right: 2.1875rem;
            height:4rem;
            width:4rem;
            background-color:bisque;
            @include m.flexible(row,nowrap,center,center);
            border-radius: 50%;
            cursor: pointer;
            z-index: 999;
            //Media querie para spawnear el hambuger en la misma width que el fixed list
            &__line{
                position: absolute;
                height:2px;
                width:80%;
                display: flex;
                background-color:black;
                justify-content: center;
                align-items:center;
                transition: transform .4s, opacity .4s;
                &::after{
                    content:" ";
                    position:absolute;
                    height:2px;
                    width:100%;
                    top:8px;
                    background-color:black;
                }
                &::before{ 
                    content:" ";
                    position:absolute;
                    height:2px;
                    width:100%;
                    top:-8px;
                    background-color:black;
                }
                &.open{
                    transform: rotate(720deg);
                    background: transparent;
                    &::before{
                        transform: rotate(45deg) translate(5px,8px); 
                    }
                    &::after{
                        width: 28px;
                        transform:rotate(-45deg) translate(3px, -7px);
                    }
                }
            }
        }
    }
}








